<div class="main-div">
    <mat-card class="example-card center">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Página não Encontrada.</mat-card-title>
        <mat-card-subtitle>POC Softplan</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/page-not-found.jpg"
        alt="larissa Vinícius"
      />
      <mat-card-content>
        <button
        mat-raised-button
        color="primary"
        (click)="redirectHome()" 
      >
        Voltar Para Home
      </button>
      </mat-card-content>
    </mat-card>
  </div>
  