<div class="main-div">
  <mat-card class="example-card center">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>POC Softplan</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/SedeSoft2.jpg"
      alt="larissa Vinícius"
    />
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Usuário</mat-label>
          <input
            matInput
            placeholder="Informe o Usuário"
            formControlName="login"
            required
          />
          <mat-hint>* Obrigatório</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Informe a Senha"
            formControlName="password"
            required
            type="password"
          />
          <mat-hint>* Obrigatório</mat-hint>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()" 
        [disabled]="form.invalid"
      >
        LOGIN
      </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
